* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #453A3A;
    --second-bg-color: #2E2424;
    --font-color: rgb(255, 255, 255);
    --font-second-color: #BEC6FF;
}

html {
    font-size: 62%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: #453a3a91;
    backdrop-filter: blur(2px);
}

.header a {
    color: var(--font-color);
    transition: .5s ease;
}

.navbar a {
    font-size: 1.7rem;
    padding: 0 1rem;
}
.navbar a:not(:last-child) {
    border-right: 1px solid var(--font-color);

}
.header a:hover {
    color: var(--font-second-color);
}

.logo {
    font-size: 2.3rem;
    font-weight: 600;
    cursor: default;
}

/* HOME */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 20rem 0rem 20rem;
    gap: 5rem;
}
.home-image img {
    width: 35vw;
    height: 45vw;
    object-fit: cover;
    object-position: 60% 40%;
    border-radius: 5%;
}
.home-content h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 110%;
}
.home-content h1 {
    display: inline-block;  
    font-size: 5.3rem;
    font-weight: 1000;
    border-bottom: 3px solid var(--font-color);
}
.home-content p{
    font-size: 1.9rem;
    margin-top: 2rem;
}

.home-content p span {
    color: var(--font-color);
    font-weight: 600;
    font-style: italic;
}
span {
    color: var(--font-second-color);
    
}
.home-content .contact a{
   display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--font-color);
    border-radius: 50%;
    font-size: 3rem;
    color: black;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s;
}

.home-content .contact a:hover {
    background: var(--font-second-color);
    color: var(--font-color);
}