* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #453A3A;
    --second-bg-color: #2E2424;
    --font-color: rgb(255, 255, 255);
    --font-second-color: #BEC6FF;
}

html {
    font-size: 62%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: #453a3a91;
    backdrop-filter: blur(2px);
}

.header a {
    color: var(--font-color);
    transition: .5s ease;
}

.navbar a {
    font-size: 1.7rem;
    padding: 0 1rem;
}
.navbar a:not(:last-child) {
    border-right: 1px solid var(--font-color);

}
.header a:hover {
    color: var(--font-second-color);
}

.logo {
    font-size: 2.3rem;
    font-weight: 600;
    cursor: default;
}

/* HOME */
.home {
    margin-top: 8rem;
}